In [1]:
from datetime import date, datetime, timedelta
import locale
locale.setlocale(locale.LC_ALL, 'pt_BR')
import itertools
import re

In [2]:
aniversarios = ['01/02/1990', '22 de Maio de 1991', '04/Abr/1995', '1995-Outubro-10', '12 Julho 1989',
                '16 de Junho de 1987', '04/07/1990']

formatos = [list(itertools.permutations(['%d', '%b','%B', '%m', '%y', '%Y',], 3))]

In [3]:
data_formatada = []
for x in aniversarios:
    data_formatada.append(x.lower().replace("de","/").replace(" ", "/").replace("//", "").replace("-", "/"))
print(data_formatada)

['01/02/1990', '22/maio/1991', '04/abr/1995', '1995/outubro/10', '12/julho/1989', '16/junho/1987', '04/07/1990']

In [26]:
def muda_data(dia):
    
    if re.findall('[0-9]*/[0-9]*/[0-9]{4}', dia) == [dia]:
        b = datetime.strptime(dia, '%d/%m/%Y')
        da = b.day
        mes = b.month
        mes_str = b.strftime('%B')
        ano = b.year
        sem = b.strftime('%A')
        
            
    elif re.findall('[0-9]{2}/[a-z]{4}/[0-9]{4}', dia) == [dia]:    
        b = datetime.strptime(dia, '%d/%B/%Y')
        da = b.day
        mes = b.month
        mes_str = b.strftime('%B')
        ano = b.year
        sem = b.strftime('%A')
            
    elif re.findall('[0-9]{2}/[a-z]{3}/[0-9]{4}', dia) == [dia]:    
        b = datetime.strptime(dia, '%d/%b/%Y')
        da = b.day
        mes = b.month
        mes_str = b.strftime('%B')
        ano = b.year
        sem = b.strftime('%A')
                
    elif re.findall('[0-9]{2}/[a-z]{4}[a-z]*/[0-9]{4}', dia) == [dia]:    
        b = datetime.strptime(dia, '%d/%B/%Y')
        da = b.day
        mes = b.month
        mes_str = b.strftime('%B')
        ano = b.year
        sem = b.strftime('%A')
            
    elif re.findall('[0-9]{4}/[a-z]{4}[a-z]*/[0-9]{2}', dia) == [dia]:    
        b = datetime.strptime(dia, '%Y/%B/%d')
        da = b.day
        mes = b.month
        mes_str = b.strftime('%B')
        ano = b.year
        sem = b.strftime('%A')
            
    else:
        print('Algo inesperado aconteceu')
    lista = (b.date())
    hoje = datetime.now().date()
    try:
        if da == hoje.day and mes == hoje.month and ano == hoje.year:
            print(f'Hoje, {sem}, {da} de {mes_str} de {ano}, tem aniversário! Parabéns!!')
    except:
        pass
    print(lista)

In [27]:
muda_data('9/5/2022')

2022-05-09

In [6]:
data_dt = []
for x in data_formatada:
    a = muda_data(x)
    data_dt.append(a)
limpo = data_dt[:7]
print(type(data_dt))

1990-02-01
1991-05-22
1995-04-04
1995-10-10
1989-07-12
1987-06-16
1990-07-04
<class 'list'>